<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th >id</th>
      <th >name</th>
      <th >status</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @task.id %></td>
      <td><%= @task.name %></td>
      <td><%= @task.status %></td>
    </tr>
  </tbody>
</table>

<br>

<td><%= link_to 'Edit', edit_task_path(@task) %></td>
<%= link_to 'Back', tasks_path %>
